@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="">Bem-Vindo ao Projeto em MVC</h1>
    <p>
        Esse projeto é apenas um estudo na Arquitetura de Software MVC com ASP.NET Core
    </p>
</div>
