<h1>Titulo da página</h1>

<p>
    Aqui é a nossa tela MinhaTela.cshtml
</p>

<form action="/Clientes/SalvarDados" method="post">
    <label>Nome</label>
    <input type="text" name="Nome" class="" />
    <br />

    <label>Telefone</label>
    <input type="text" name="Telefone" class="" />
    <br />
    <button type="submit" class="btn btn-success">
        Enviar dados
    </button>
</form>