@model Aula01.Models.ProductModelView
<div class="row">

    <div class="offset-4 col-4">
        <div class="card">
            <div class="card-header">
                Editar Produto
            </div>
            <div class="card-body">

                <form action="/Product/DataSave" method="post">
                    <label>Id</label>
                    <input class="form-control" type="text" name="Id" readonly value="@Model.Id" />
                    <br />

                    <label>Nome</label>
                    <input type="text" name="Name" class="form-control" value="@Model.Name" />
                    <br />

                    <label>Quantidade</label>
                    <input type="number" name="Quantity" class="form-control" value="@Model.Quantity"/>
                    <br />

                    <label>Valor Total R$</label>
                    <input type="number" name="TotalValue" class="form-control" value="@Model.TotalValue"/>
                    <br />
                    <button type="submit" class="btn btn-success">
                        Cadastrar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>