@model List<Aula01.Models.ProductModelView>

<div class="row">
    <a href="/Product/New" class="btn btn-success">Cadastrar</a>
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-header">
                Lista de Produtos
            </div>
            <div class="card-body">

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nome</th>
                            <th>Quantidade</th>
                            <th>Valor Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ProductModelView product in Model)
                        {
                            <tr>
                                <td>@product.Id</td>
                                <td>@product.Name</td>
                                <td>@product.Quantity</td>
                                <td>@product.TotalValue</td>
                                <td>
                                    <a href="/Product/Delete/@product.Id" class="btn btn-danger">
                                        Excluir    
                                    </a>
                                    <a href="/Product/Edit/@product.Id" class="btn btn-warning">
                                        Editar    
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-2"></div>

</div>